<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1> SEARCH RESULTS </h1>
        <button class='btn btn-info' onclick='location.href="/";'>Search Again</button>
    </div>

    <div id="results__wrapper" class="row">
        <img class="cover col-3" src=<%=data.cover.medium%>>
        <div class="info col-4">
            <h4 class="row"><%=data.title%></h4>
            <h5 class="row"><%=data.authors[0].name%></h5>
            <h6 class="row"><%=data.publish_date%></h6>
            <h6 class="row"><%=data.publishers[0].name%></h6>
            <h6 class="row">ISBN: <%=data.identifiers.isbn_10%></h6>
            <h6 class="row"><%=data.number_of_pages%> pages</h6>
        </div >
    </div>


</div>

<%- include ('templates/footer'); -%>